$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tipography: #101010;
$color-tipography-footer: #ffffff;
$color-tipography-btn: #ffffff;
$color-background-primary: #ffffff;
$color-background-secondary: #f6f6f6;
$color-background-tertiary: #eaeaea;
$color-background-footer: #353535;