h1, h5 {
  font-family: "Shrikhand", sans-serif;
}

h2, h3, h4, p, a {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.btn__back {
  opacity: 1;
  text-decoration: none;
  margin-left: 10%;
}
.btn__back i {
  color: #101010;
}
.btn__back--transparent {
  opacity: 1;
}

.iconed_link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
}

.btn__main {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 200px;
  height: 56px;
  border-width: 0px;
  color: color-tipography-btn;
  border-color: transparent;
  border-radius: 32px;
  background: linear-gradient(rgb(255, 121, 215), rgb(147, 86, 220));
}
.btn__main--restaurant {
  text-decoration: none;
}

.restaurant__card {
  text-decoration: none;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  border: solid 2px transparent;
  border-radius: 15px 15px 15px 15px;
  margin: 2% 0% 2% 0%;
}
.restaurant__card img {
  height: 250px;
  width: 100%;
  border-radius: 15px 15px 0% 0%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__card__image--new {
  position: realtive;
}
.restaurant__card__image--new p {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #eaeaea;
  z-index: 7;
}
.restaurant__card__body {
  background-color: #ffffff;
  color: #101010;
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 30%;
  padding: 4%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.restaurant__card__body__text h4 {
  margin: 2% 0 1% 0;
  font-size: 20px;
}
.restaurant__card__body__text p {
  margin: 1% 0 2% 0;
  font-size: 18px;
}
.restaurant__card__body i {
  padding-right: 3%;
}
.restaurant__card__body i:hover {
  color: #9356DC;
}
.restaurant__card:hover {
  border: solid 2px #eaeaea;
}

header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  align-items: center;
}
header img {
  height: 40px;
}

footer {
  background-color: #353535;
  color: #ffffff;
}
footer h5 {
  font-size: 20px;
  margin: 0% 0% 0% 5%;
  padding-top: 5%;
}

#footer__links {
  display: flex;
  flex-flow: column wrap;
  margin-left: 5%;
}
#footer__links a {
  text-decoration: none;
  color: #ffffff;
  height: 38px;
  font-size: 18px;
  margin: 1% 0% 1% 0%;
}
#footer__links a p {
  margin: 0% 0% 0% 0%;
}
#footer__links a:hover {
  text-decoration: underline;
}

#location {
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#heading {
  background-color: #f6f6f6;
  text-align: center;
  padding: 5% 0 5% 0;
}
#heading h1 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  margin: 0% auto 0% auto;
  width: 60%;
}
#heading p {
  font-size: 18px;
  width: 70%;
  margin: 2% auto 5% auto;
}

#explanation {
  padding-bottom: 10%;
}
#explanation h2 {
  font-size: 24px;
  margin: 5% 0% 1% 7%;
}
#explanation ol {
  list-style-type: none;
  counter-reset: orderedlist;
}
#explanation ol li:before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  font-family: "Roboto";
  font-size: 14px;
  line-height: 0.75;
  padding: 2%;
  width: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 100%;
}
#explanation ol {
  padding-left: 0%;
  margin: auto 7% auto 7%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
#explanation ol li {
  background-color: #f6f6f6;
  margin: 2% 0% 2% 0%;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}
#explanation ol li i {
  color: #777777;
}
#explanation ol li h3 {
  font-size: 18px;
}

#restaurants {
  padding: 2%;
  height: auto;
  background-color: #f6f6f6;
}
#restaurants__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
#restaurants h2 {
  font-size: 24px;
  margin: 5% 0% 1% 5%;
}/*# sourceMappingURL=main.css.map */