header{
    width: 100%;
    height: 100px;
    background-color: $color-background-primary;
    box-shadow: 20px 15px 5px 6px darken($color-background-tertiary, 20%);
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
    img{
        height: 40px;
    }
}