.menu__dish1{
    position: relative;
    overflow: hidden;
    background-color: $color-background-primary;
    @include shadow($color-background-secondary);
    margin: 3% auto 3% auto;
    height: 93px;
    border-radius: 25px;
    &__content{
        width: 100%;
        padding: 4% 5% 2% 6%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;    
        &__text{
            h3{
                font-size: 20px;
                margin: 0 0 5% 0;
            }
            p{
                font-size: 18px;
                margin: 0 0 0 0;    
            }
        }
        &__price{ 
            font-size: 18px;
            transition: transform 400ms 25ms ease-out;
            p{
                margin: 0;
            }
        }
    }
    &__selector{
        opacity: 1;
        border-radius: 0 25px 25px 0;
        height: 93px;
        width:75px;
        background-color: $color-tertiary;
        position: absolute;
        bottom: 0;
        top: 0;
        right: -76px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 400ms ease-in-out;
        i{
            color: $color-background-primary;
            font-size: 25px;
            transition: transform 400ms ease-in-out;
        }
    }
    &:hover{
        .menu__dish1__selector{
            transform: translateX(-76px);
        }
        i{
            transform: rotate(-360deg);
        }
        .menu__dish1__content__price{
            transform: translateX(-76px);
        }
    }
}

.menu__dish2{
    background-color: $color-background-primary;
    @include shadow($color-background-secondary);
    margin: 3% auto 3% auto;
    height: 93px;
    border-radius: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    overflow: hidden;
    &__text{
        width: 200px;
        margin: 2% 0% 5% 5%;
        flex-grow: 1;
        h3{
            font-size: 20px;
            margin: 0 0 4% 0;
        }
        p{
            font-size: 18px;  
            margin: 4% 0 0 0;       
        }
        h3,p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__price{
        width: 31px;
        margin: 2% 5% 5% 0%;
        p{
        margin: 0;
         }
        font-size: 18px;
    }
    &__selector{
        border-radius: 0 25px 25px 0;
        height: 100%;
        width: 0;
        background-color: $color-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 400ms ease-in-out;
        i{
            color: $color-background-primary;
            font-size: 25px;
            transition: transform 400ms ease-out;
            transform: rotate(360deg);
        }
    }
    &:hover > .menu__dish2__selector{
        width: 75px;
        i{
            transform: rotate(0);
        }
    }
    
}