.btn{
    width: 230px;
    height: 56px;
    border-radius: 32px;
    background: linear-gradient(20deg,rgba(255, 121, 215, 1), rgba(147, 86, 220, 1));
    box-shadow: 0 0 10px 5px darken($color: $color-background-secondary, $amount: 10%);
    &__main{
        font-size: 17px;
        font-family:'Roboto', sans-serif;
        font-weight:bold;
        border-color: transparent;
        text-align: center;
    }
    &--restaurants{
        a{
            text-decoration: none;
            color: $color-tipography-btn;
        }
    }
    &--order{
        color: $color-tipography-btn;
    }
}