.btn__main{
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    font-weight:bold;
    width: 200px;
    height: 56px;
    border-width: 0px;
    color: color-tipography-btn;
    border-color:transparent;
    border-radius: 32px;
    background: linear-gradient(rgba(255, 121, 215, 1), rgba(147, 86, 220, 1));
    &--restaurant{
        text-decoration: none;
    }
}