.restaurant__card{
    text-decoration: none;
    box-shadow: 0 0 2px 2px darken($color: $color-background-secondary, $amount: 5%);
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    border: solid 2px transparent;
    border-radius: 15px 15px 15px 15px;
    margin: 2% 0% 2% 0%;
        img{
        height: 200px;
        width: 100%;
        border-radius: 15px 15px 0% 0%;
        object-fit: cover;
        }
    &__image{
        &--new{
            position: relative;
            p{
                position: absolute;
                top: 2px;
                right: 16px;
                background-color: $color-tertiary;
                z-index: 1;
                font-size: 15px;
                font-weight: 600;
                color: darken($color: $color-tertiary, $amount: 40%);
                padding: 1% 2% 1% 2%;
            }
        }
    }
    &__body{
        background-color: $color-background-primary;
        color: $color-tipography;
        border-radius: 0 0 15px 15px;
        width: 100%;
        height: 30%;
        padding: 4%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        &__text{
            h4{
            margin: 2% 0 1% 0;
            font-size: 20px;
            }
            p{
            margin: 1% 0 2% 0;
            font-size: 18px;
            }
        }
    }
    &:hover{
        box-shadow: s;
    }
    

}