@media screen and (min-width:1024px){
    header{
        gap: 33%;
        img{
            height: 50px;
        }
    }

    #explanation{
        padding-bottom: 2%;
        h2{
            margin-top: 2%;
        }
        ol{
            justify-content: center;
            li{
                margin: 0;
            }
        }
    }

    .restaurant__card{
        width: 20%;
        flex-wrap: nowrap;
        img{
            height: 250px;
        }
    }

    #restaurants{
        h2{
            margin-top: 2%;
        }
        &__list{
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        padding-bottom: 1%;
        padding-top: 1%;
    }

    footer{
        h5{
            padding-top: 2%;
            padding-bottom: 1%;
        }
    }

    #footer__links{
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 90%;
    }
}
