#location{
    background-color: $color-background-tertiary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

#heading{
    background-color: $color-background-secondary;
    @include shadow($color-background-secondary);
    text-align: center;
    padding: 5% 0 5% 0;
    h1{
        font-size: 26px;
        font-family: 'Roboto', sans-serif;
        margin: 0% auto 0% auto;
        width: 60%;
    }
    p{
        font-size: 18px;
        width: 70%;
        margin: 2% auto 5% auto;
    }
}

#explanation{
    padding-bottom: 10%;
    h2{
        font-size: 24px;
        margin: 5% 0% 1% 7%;;
    }
    //* style de liste //
    ol{
        list-style-type: none;
        counter-reset: orderedlist;
        li{
            &:before{
                counter-increment: orderedlist;
                content: counter(orderedlist);
                font-family: "Roboto";
                font-size: 14px;
                line-height: 0.75;
                padding: 2%;
                margin-left: -4%;
                width: 18px;
                text-align: center;
                color: $color-tipography-footer;
                background-color: $color-primary;
                border-radius: 100%;
            }
        }
    }
    //* fin du style de liste//
    ol{
        padding-left: 0%;
        margin: auto 7% auto 7%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        li{
            background-color: $color-background-secondary;
            @include shadow($color-background-secondary);
            margin: 3% 0% 3% 0%;
            border-radius: 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5%;
            i{
                color: darken($color: $color-background-secondary, $amount: 50%);
            }
            h3{
                font-size: 18px;
            }
            &:hover{
                i{
                    color: $color-primary;
                }
            }
        }
    }
}

#restaurants{
    padding: 2%;
    padding-bottom: 10%;
    height: auto;
    background-color: $color-background-secondary;
    &__list{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }
    h2{
        font-size: 24px;
        margin: 5% 0% 1% 5%;
    }
}