@media screen and (min-width:481px){
    header{
        gap: 20%;
    }

    .loader{
        z-index: -1;
    }

    #explanation{
        ol{
            margin: auto 2% auto 2%;
            flex-flow: row nowrap;
            justify-content: flex-start;
            gap: 10%;
            li{
                padding: 3%;
            }
        }
    }

    .image-menu{
        height: 350px;
        object-fit: cover;
    }
    
}