@media screen and (min-width:768px){
    header{
        gap: 25%;
    }

    .loader{
        z-index: -1;
        &__spinner{
            top: 8%;
            left: 40%;
            right: 0;
        }
    }

    #heading{
        padding: 5% 0 5% 0;
        h1{
            padding: 2% 20% 1% 20%;
        }
        p{
            padding: 2% 15% 8% 15%;
        }
    }

    #explanation{
        padding-bottom: 3%;
        ol{
            margin: 0% 3% 0% 3%;
            flex-flow: row nowrap;
            justify-content: flex-start;
            gap: 10%;
            li{
                padding: 3%;
                gap: 10%;
                &:before{
                    padding: 2%;
                    margin-left: -20%;
                }
            }
        }
    }

    .image-menu{
        height: 350px;
        object-fit: cover;
    }

    .menu{
        &__dishtype{
            &__list{
                margin-bottom: 5%;
            }
        }
        &__dish{
            &__text{
                padding: 3% 0% 2% 4%;
            }
            &__price{
                padding-bottom: 3%;
            }
        }
    }
    
}