@media screen and (min-width:768px){
    header{
        gap: 25%;
    }

    .loader{
        z-index: -1;
        &__spinner{
            top: 8%;
            left: 40%;
            right: 0;
        }
    }

    #explanation{
        ol{
            margin: auto 3% auto 3%;
            flex-flow: row nowrap;
            justify-content: flex-start;
            gap: 10%;
            li{
                padding: 3%;
                gap: 10%;
                &:before{
                    padding: 2%;
                    margin-left: -20%;
                }
            }
        }
    }

    .image-menu{
        height: 350px;
        object-fit: cover;
    }
    
}